section.navigation {
    padding: 10px 0;
    height: 88px;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px !important;
    font-size: 15px;
}

nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0 20px;
    color: #000;
    background: transparent !important;
    text-decoration: none;
}

nav ul li a {
    background: transparent;
    color: #000;
}

nav ul li a:hover,
nav ul li a:visited:hover {

    color: #f47a24;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;

}

nav ul li ul li {
    min-width: 255px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}




@media only screen and (max-width: 1400px) {

    nav ul li a,
    nav ul li a:visited {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        width: 100%;
        padding: 55px 0 15px;
    }

    nav ul li a {
        /* padding: 15px; */
        line-height: 20px;
        background: #fff;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .navbar-dropdown {
        position: static;
    }
}

#navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #000000;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#navbar-toggle span:before {
    top: -10px;
}

#navbar-toggle span:after {
    bottom: -10px;
}

#navbar-toggle.active span {
    background-color: transparent;
}

#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
    top: 0;
}

#navbar-toggle.active span:before {
    transform: rotate(45deg);
}

#navbar-toggle.active span:after {
    transform: rotate(-45deg);
}




    #dropftwo {
        text-decoration: none;
        color: black;
        font-weight: 400;
        display: inline-block;
    }

    #dropftwo:hover {
        color: #f47a24;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        min-width: 180px;
        z-index: 999;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .dropdown li a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }

    .dropdown-container:hover .dropdown {
        display: block;
    }

    .services_dropdown:hover .services_dropdown_box {
        display: block;
    }

    .services_dropdown_box {
        display: none;
        background: #fff !important;
        position: absolute;
        padding: 0px;
        z-index: 9999;
    }


    @media only screen and (max-width: 991px) {


         nav {
        width: 100%;
        padding: 30px 0 15px;
    }
        .nav-mobile {
            display: block !important;
            top: 65px;
        }

        nav ul {
            display: none;
        }

        nav ul {
            position: absolute;
            width: 100% !important;
            z-index: 9 !important;
            top: 135px !important;
            left: 0 !important;
            background: #fdfdfd;
            right: 0 !important;
            height: 90vh;
        }

        ul.nav-list li {
            padding: 12px 0px;
        }

    }




        @media only screen and (max-width: 1140px) {
                 nav {
        width: 100%;
        /* padding: 55px 0 15px; */
    }
        }

